* {
    font-family: 'Work Sans', sans-serif;
}

.logout-link {
    text-transform: uppercase;
}

.card-container, .myclassroom-container, .myclassroom-details-container,
.create-forum-form-container, .single-forum-detail-header-container,
.forum-edit-form-container, .student-assignments-container, .home-container, .classrooms-container,
.join-classroom {
    margin-top: 100px;
}

.card-creator-name {
    font-weight: 300;
}

.creator-img {
    width: 150px;
    height: 150px;
}

.classroom-header {
    margin-top: 100px;
}

.toast {
    display: block;
    margin: 100px auto;
    z-index: 10;
}


@media screen and (min-width: 768px) {
    .classroom-search-input {
        width: 50%;
    }
}